<div class="section">
	<div class="container">
		<div class="row full-height justify-content-center">
			<div class="col-12 align-self-center py-5">
				<div class="section pb-5 pt-5 pt-sm-2">
					<div class="card-3d-wrap mx-auto">
						<form class="row g-3 needs-validation" [class.was-validated]="!formValid" #questionsform="ngForm" (ngSubmit)="submitAnswers(questionsform)" novalidate>

							<div class="card-3d-wrapper">
								<div class="card-back" *ngFor="let question of questions; index as i" [hidden]="question.page !== currentPage">

									<div class="center-wrap">
										<div class="section text-info">
											<h4 class="mb-4 pb-3">{{"Page " +question.page}}</h4>
											<div class="form-group">
												<span>{{question.page == 3 ? formatAnswer(question.text, questions[1]) : question.text}}</span>

											</div>
											<div class="form-group mt-2">
												<div class="options" *ngIf="question.type == 'radio'">
													<div class="form-check" *ngFor="let option of question.answers; index as j">
														<input class="form-check-input" type="radio" name="option[]" [id]="'option_'+i+'_'+j" [(ngModel)]="question.chosen" [value]="option[j]" required #inputcontrol="ngModel">
														<label class="form-check-label" [for]="'option_'+i+'_'+j">
															{{option[j]}}
														</label>
													</div>
												</div>
												<div class="options" *ngIf="question.type == 'check'">
													<div class="form-check" *ngFor="let option of question.answers; index as j">
														<input class="form-check-input" type="checkbox" name="option" [id]="'option_'+i+'_'+j" [(ngModel)]="question.chosen[j]" [value]="option[j]" required #inputcontrol="ngModel">

														<label class="form-check-label" [for]="'option_'+i+'_'+j">
															{{option[j]}}
														</label>
													</div>
												</div>
												<div class="free_text" *ngIf="question.type == 'text'">
													<input class="form-control" type="text" [name]="'option_'+i" [id]="'option_'+i+'_'+0" [(ngModel)]="question.chosen" required minlength="5" #inputcontrol="ngModel">

													<div class="invalid-feedback" *ngIf="inputcontrol?.errors && (inputcontrol?.dirty || inputcontrol?.touched)">
														<p *ngIf="inputcontrol.errors?.required">Feedback is required</p>
														<p *ngIf="inputcontrol.errors?.minlength">At least 5 characters</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>


							</div>
							<div class="d-flex justify-content-around btn-nav">
								<button type="button" class="btn btn-info nav-left" [disabled]="currentPage<=1" (click)="gotoPreviousPage(questionsform)">
									<fa-icon [icon]="faArrowLeft"></fa-icon>
								</button>

								<button type="submit" class="btn btn-success submit">Submit</button>

								<button type="button" class="btn btn-secondary nav-right" [disabled]="currentPage>=3" (click)="gotoNextPage(questionsform)">
									<fa-icon [icon]="faArrowRight"></fa-icon>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
